In [50]:
import pandas as pd

In [51]:
HeroesOfPymoli = '../Resources/purchase_data.csv'
Heroes_file = pd.read_csv(HeroesOfPymoli)

In [52]:
### Player Count
#* Total Number of Players
players = {'Total Players': [Heroes_file['SN'].count()]}
players_count = pd.DataFrame(players)
players_count

   Total Players
0            780

   
##    Purchasing Analysis (Gender)

In [53]:
#Number of Unique Items
Price_Average=Heroes_file["Price"].mean()

In [54]:
#Average Purchase Price
n_items = Heroes_file["Item Name"].nunique()

In [55]:
#Total Number of Purchases
N_of_items = Heroes_file["Item Name"].count()

In [56]:
#Total Revenue
Profit = Heroes_file["Price"].sum()

In [57]:
Sumamry_list ={"Number of Unique Items":n_items,
                           "Average Price":Price_Average,
                           "Number of Purchases":N_of_items, 
                           "Total Revenue":Profit}

In [58]:
Summary_df=pd.DataFrame([Sumamry_list])
Summary_df["Average Price"] = Summary_df["Average Price"].astype(float).map('${:.2f}'.format)
Summary_df["Total Revenue"] = Summary_df["Total Revenue"].astype(float).map('${:.2f}'.format)
Summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77


## Gender Demographics

In [59]:
gender_type = Heroes_file.loc[:,"Gender"]

In [60]:
Gender_count = Heroes_file.groupby("Gender")["SN"].count()

In [61]:
player_demographics = Heroes_file.loc[:, ["Gender", "SN", "Age"]]

In [62]:
player_demographics = player_demographics.drop_duplicates()

num_players = player_demographics.count()[0]

In [63]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / num_players * 100

In [64]:
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})
gender_demographics = gender_demographics.round(2)
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].astype(float).map('{:.2f}%'.format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

In [65]:
purchasing_analysis = Heroes_file.loc[:, ["Gender", "Price"]]

In [66]:
###Calculate total profit by gender
total_purchase_value=purchasing_analysis.groupby(["Gender"]).sum()['Price'].rename("Total Purchase Value")

In [67]:
#calculate average price by gender
Gender_average=Heroes_file.groupby(["Gender"]).mean()['Price'].rename("Average Purchase Price")

In [68]:
###count orders
#Gender_count=Heroes_file.groupby(["Gender"]).count()['Price'].rename("Purchase Count")

gender_counts = player_demographics["Gender"].value_counts()

In [69]:
# Delete Duplicates
duplicates = Heroes_file.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])

In [70]:
average_purchages = (total_purchase_value/grouped_dup["SN"].count())

In [71]:
Summary_Purchasing_Analysis = pd.DataFrame({"Purchase Count":Gender_count,
                           "Average Purchase Price":Gender_average,
                            "Total Purchase Value":total_purchase_value,
                            "Avg Total Purchase per Person":average_purchages})

In [72]:
#formating DataFrame
Summary_Purchasing_Analysis["Average Purchase Price"] = Summary_Purchasing_Analysis["Average Purchase Price"].astype(float).map('${:.2f}'.format)
Summary_Purchasing_Analysis["Avg Total Purchase per Person"] = Summary_Purchasing_Analysis["Avg Total Purchase per Person"].astype(float).map('${:.2f}'.format)

In [73]:
Summary_Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56


## Age Demographics

In [74]:
#Data Frame to work with Bins
Age_demographics = Heroes_file.loc[:, ["Age", "SN", "Price"]]
df = pd.DataFrame(Age_demographics)

In [75]:
#bins group
age_bins = [0, 13,24,36,40]
group_names = ["Less than 13", "13 to 24", "25 to 36", "More than 36"]
df["Age Ranges"] = pd.cut(df["Age"], age_bins, labels=group_names)

In [76]:
#Purchase revenue
Purchase_amount=df.groupby(["Age Ranges"]).sum()['Price'].rename("2.Total Purchase Value")

In [77]:
#Average Purchase Price
average_price = df.groupby(["Age Ranges"])['Price'].mean().rename("2.Average Purchase Price")

In [78]:
#Purchase Count
Purchase_Count  = Age_demographics.groupby(["Age Ranges"])["SN"].count().rename("2.Purchase Count")

In [79]:
### Age Demographics
Summary_Age_Demographics = pd.DataFrame({"Purchase Count":Purchase_Count,
                           "Average Purchase Price":average_price,
                           "Total Purchase Value":Purchase_amount})

In [80]:
#formating DataFrame
Summary_Age_Demographics["Total Purchase Value"] = Summary_Age_Demographics["Total Purchase Value"].astype(float).map('${:.2f}'.format)
Summary_Age_Demographics["Average Purchase Price"] = Summary_Age_Demographics["Average Purchase Price"].astype(float).map('${:.2f}'.format)


Summary_Age_Demographics

              Purchase Count Average Purchase Price Total Purchase Value
Age Ranges
Less than 13              49                  $3.12              $153.00
13 to 24                 503                  $3.05             $1533.86
25 to 36                 193                  $2.96              $571.69
More than 36              28                  $3.56               $99.69

##  Top Spenders

In [81]:
#Group by "SN" to set up the DataFrame for Top Spenders
top_spenders = Heroes_file.groupby("SN")

In [82]:
#Create calculations for the DataFrame
purchase_count_top = top_spenders["Purchase ID"].count()
avg_purchase_price_top = top_spenders["Price"].mean()
total_purchase_value_top = top_spenders["Price"].sum()

In [83]:
#Create DataFrame for Top Spenders
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_top, "Average Purchase Price": avg_purchase_price_top, "Total Purchase Value":total_purchase_value_top})

In [84]:
#Sort top spenders in decending order
top_spenders_format = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False)

In [85]:
#Format the data
top_spenders_format["Average Purchase Price"] = top_spenders_format["Average Purchase Price"].astype(float).map('${:.2f}'.format)
top_spenders_format["Total Purchase Value"] = top_spenders_format["Total Purchase Value"].astype(float).map('${:.2f}'.format)
top_spenders_format.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10


## Most popular item

In [86]:
#Create new DataFrame with Popular Items data
popular_items = Heroes_file[["Item ID", "Item Name", "Price"]]

In [87]:
popular_items_group = popular_items.groupby(["Item ID", "Item Name"])

In [88]:
purchase_count_pop = popular_items_group["Price"].count()

In [89]:
purchase_value_pop = popular_items_group["Price"].unique()

In [90]:
popular_price = purchase_value_pop * purchase_count_pop

In [91]:
#Table for DataFrame
popular_df = pd.DataFrame({"Purchase Count": purchase_count_pop, "Item Price": purchase_value_pop, "Total Purchase Value": popular_price})

In [92]:
#Purchases format - Descending
popular_df = popular_df.sort_values(["Purchase Count"], ascending=False)

In [93]:
# Format / Clean table as needed
popular_df["Total Purchase Value"] = popular_df["Total Purchase Value"].astype(float).map('${:.2f}'.format)
popular_df["Item Price"] = popular_df["Item Price"].astype(float).map('${:.2f}'.format)

In [94]:
popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most profitable item

In [95]:
#Profit format - Descending

profit_df = popular_df.sort_values(["Total Purchase Value"], ascending=False)
profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48